<section class="todoapp">
    <section>
        <header class="header">
            <h1 [class.search]="searchMode">{{searchMode?'Search':'Todos'}}</h1>
            <input class="new-todo" [placeholder]="searchMode?'What needs to be searched?':'What needs to be done'"
                [(ngModel)]="todo" (keyup.enter)="searchMode?'':addTodo()" autofocus>
            <input *ngIf="getAllList().length&&!searchMode" type="checkbox" class="toggle-all" id="toggle-all"
                #toggleall [checked]="allCompleted()" (click)="setAllTo(toggleall.checked)">
            <label for="toggle-all"></label>
        </header>
        <section class="main">
            <ul class="todo-list">
                <li *ngFor="let todo of getList()" [class.completed]="todo.completed">
                    <app-todo-comment [todo]="todo"></app-todo-comment>
                    <div class="view">
                        <p class="time-stamp" [class.search]="searchMode">{{todo.date}}</p>
                        <input class="toggle" type="checkbox" [checked]="todo.completed"
                            (click)="toggleCompletion(todo)">
                        <label class="list-item-label" (dblclick)="editing(todo)">
                            <div class="list-item-text">
                                <span class="list-item-title">{{todo.title}}</span>
                                <span class="list-item-comment">{{todo.comment}}</span>
                            </div>
                        </label>
                        <div class="view-toolbox">
                            <button class="editBtn" (click)="editing(todo)"></button>
                            <button class="destroy" (click)="removeTodo(todo)"></button>
                        </div>
                    </div>
                    <div [class.overlay]="todo.editing" (click)="closeEdit(todo)"></div>
                </li>
            </ul>
        </section>
    </section>

    <footer class="footer" *ngIf="getAllList().length>0 || searchMode">
        <span class="todo-count">
            <strong>{{getRemainingList().length}}</strong>
            {{getRemainingList().length > 1 ? 'items':'item'}} left
        </span>
        <ul class="filters">
            <li>
                <a href="javascript:;" [class.selected]="checkStatus(todoStatusType.All)"
                    (click)="setStatus(todoStatusType.All, false)">
                    All
                </a>
            </li>
            <li>
                <a href="javascript:;" [class.selected]="checkStatus(todoStatusType.Active)"
                    (click)="setStatus(todoStatusType.Active, false)">
                    Active
                </a>
            </li>
            <li>
                <a href="javascript:;" [class.selected]="checkStatus(todoStatusType.Completed)"
                    (click)="setStatus(todoStatusType.Completed, false)">
                    Completed
                </a>
            </li>
            <li>
                <a href="javascript:;" #searchtodo [class.selected]="checkStatus(todoStatusType.Search)"
                    [class.search]="searchMode" (click)="setStatus(todoStatusType.Search, true)">Search</a>
            </li>
        </ul>
        <button class="clear-completed" *ngIf="getCompletedList().length" (click)="removeCompleted()">Clear
            Completed</button>
    </footer>
</section>

<footer class="info">
    <p>Double-click to edit a todo</p>
    <p>Search bar can search both <a href="#">title</a> and <a href="#">date</a></p>
    <p>Created by <a href="https://github.com/ericboy0224">Eric Lin</a> .</p>
</footer>
