<div class="comment-position" [class.editing]="todo.editing">
    <div class="todo-comment">
        <a href="#" (click)="closeEdit(todo)">x</a>
        <div class="comment-box">
            <input type="text" #titlevalue [value]="todo.title" (keyup.enter)="change()" id="title">
            <hr>
            <label for="comment">Comment:</label>
            <textarea #commentvalue name="comment" [value]="todo.comment"(keyup.enter)="editTodo(titlevalue,commentvalue)"id="comment"></textarea>
            <div class="btn-group">
                <button class="btn btn-primary" (click)="editTodo(titlevalue,commentvalue)"  >Save</button>
            </div>
        </div>
    </div>
</div>
